.clock {
  align-items: center;
  background-color: $clock-bg-color;
  border: 2px solid $clock-border-color;
  border-radius: 50%;
  display: flex;
  height: 22rem;
  width: 22rem;
  justify-content: center;
  margin: 6rem auto;
}

.clock-text {
  color: $clock-text-color;
  font-size: 3rem;
  font-weight: 300;
}
