// Colours
$grey: #333333;
$primary: #2199e8;

// Navigation clours
$nav-background: $grey;
$nav-text-color: white;
$nav-links-color: $primary;

// Clock variable
$clock-text-color: white;
$clock-bg-color: #B5D0E2;
$clock-border-color: #2099E8;

// CountdownForm
$formButtonColor: $primary;
